.tooltip-html {
  position: absolute;
  width:  auto;
  height: auto;
  pointer-events: none;
  background-color: white;
  font-family: Helvetica;
  box-sizing: border-box;
  padding: .15%;
  z-index: 9999;
}    
.tooltip-text {
  font-family: Helvetica;
  font-size: 14px;
}
.focus .tooltip-confirmed {
  font-family: Helvetica;
  font-size: 14px;
}
.focus .tooltip-date {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
}
.focus-per-line text {
  font-family: Helvetica;
  font-size: 14px;
}
.focus .tooltip-y {
  font-family: Helvetica;
  font-size: 14px;
}
.focus .tooltip-x {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
}
.tooltip-stream {
    position: relative !important;
    fill: #252525;
    font-family: Helvetica;
}

.bar {
  stroke: black;
  stroke-width: 0.8
}

.xAxis {
  font-size: 13.5px;
  font-family: Helvetica;
} 
.xAxisBand {
  font-size: 13.5px;
  font-family: Helvetica;
}
.yAxis {
  font-size: 13.5px;
  font-family: Helvetica;
} 
.yAxis line {
  stroke: #525252;
}
.xAxisStream {
  font-size: 16px;
  font-family: Helvetica;
} 

.links line {
    stroke: #c1c1c1;
    stroke-width: 0.5px;
    pointer-events: all;
}

.nodes circle {
  stroke: #000000;
  stroke-width: .5px;
}